.vertical-timeline .vertical-timeline--item::after, .vertical-timeline .vertical-timeline--item::before {
    content: '';
    display: block;
    width: 100%;
    clear: both;
    
  }
  *, *::before, *::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  body {
    width: 75%;
    margin: 15vh auto;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
    text-align: center;
    background-color: #5CDB95;
    
  }
  a {
    position: relative;
    font-weight: bold;
    color: #f5f5f5;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  a::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 75%;
    left: 50%;
    background-color: #200000;
    opacity: 0.4;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  a:hover::before {
    width: 100%;
    height: 5px;
    left: 0;
  }
  a:hover {
    color: #200000;
    text-decoration: none;
  }
  .vertical-timeline {
    width: 100%;
    margin: 30px auto;
    padding: 0 10px;
    position: relative;
    color: #200000;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .vertical-timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 3px;
    height: 100%;
    background: #0B0C10;
  }
  .vertical-timeline::after {
    content: '';
    clear: both;
    display: table;
    width: 100%;
  }
  @media screen and (max-width: 60em) {
    .vertical-timeline {
      width: 90%;
      margin: 30px;
      padding: 0px;
   }
    .vertical-timeline::before {
      left: 0;
   }
  }
  .vertical-timeline .vertical-timeline--badge {
    background: #0B0C10;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    margin-left: - 13.5px;
    border-radius: 50%;
  }
  @media screen and (max-width: 60em) {
    .vertical-timeline .vertical-timeline--badge {
      left: 0;
   }
  }
  .vertical-timeline .vertical-timeline--item {
    margin-bottom: 50px;
    position: relative;
    color:#f5f5f5;
    
  }
  .vertical-timeline .vertical-timeline--item .vertical-timeline--content {
    width: 45%;
    background: #0B0C10;
    padding: 20px;
    border-radius: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .vertical-timeline .vertical-timeline--item .vertical-timeline--content h3 {
    margin: -20px -20px 0 -20px;
    padding: 15px;
    background-color: #0B0C10;
    color: #f5f5f5;
    font-size: 1em;
    font-weight: 500;
    text-align: left;
    border-radius: 0;
  }
  .vertical-timeline .vertical-timeline--item .vertical-timeline--content p {
    position: relative;
    margin: 20px;
    text-align: left;
  }
  .vertical-timeline .vertical-timeline--item .vertical-timeline--content a {
    position: relative;
  }
  .vertical-timeline .vertical-timeline--item .vertical-timeline--content::after {
    content: '';
    position: absolute;
    left: 45%;
    top: 10px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #0B0C10;
  }
  @media screen and (max-width: 60em) {
    .vertical-timeline .vertical-timeline--item .vertical-timeline--content {
      width: 90%;
      float: right;
   }
    .vertical-timeline .vertical-timeline--item .vertical-timeline--content::after {
      left: 10%;
      margin-left: -6px;
      border-left: 0;
      border-right: 7px solid #0B0C10;
   }
  }
  .vertical-timeline .vertical-timeline--item::before {
    content: '';
    position: absolute;
    top: calc(50px - 1px);
    display: block;
    width: 45%;
    height: calc(100% - 50px + 1px);
    background-color: #05386B;
  }
  @media screen and (max-width: 60em) {
    .vertical-timeline .vertical-timeline--item::before {
      right: 0;
      width: 90%;
   }
  }
  .vertical-timeline .vertical-timeline--item.right::before {
    right: 0;
  }
  .vertical-timeline .vertical-timeline--item.right .vertical-timeline--content {
    float: right;
    
  }
  .vertical-timeline .vertical-timeline--item.right .vertical-timeline--content::after {
    content: '';
    right: 45%;
    left: inherit;
    border-left: 0;
    border-right: 7px solid #0B0C10;
  }
  @media screen and (max-width: 60em) {
    .vertical-timeline .vertical-timeline--item.right .vertical-timeline--content::after {
      left: 10%;
      margin-left: -6px;
   }
  }
  